= form_for [@roll, @photo] do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.file_field :image, {type: "file", capture: "camera", accept: 'image/*', id: "upload_photo"}
  %br

= button_tag "Take Photo", {class: "btn btn-primary btn-lg btn-block", id: "take_photo", style: "display:none;"}
= button_tag "Take Webcam Photo", {class: "btn btn-primary btn-lg btn-block", id: "take_photo_webcam"}
