%h1 Listing photos

%table
  %tr
    %th Image
    %th Roll
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @photos.each do |photo|
    %tr
      %td= photo.image
      %td= photo.roll
      %td= photo.latitude
      %td= photo.longitude
      %td= link_to 'Show', photo
      %td= link_to 'Edit', edit_photo_path(photo)
      %td= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Photo', new_photo_path
