= form_for @roll do |f|
  - if @roll.errors.any?
    #error_explanation
      %h2= "#{pluralize(@roll.errors.count, "error")} prohibited this roll from being saved:"
      %ul
        - @roll.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.text_field :name, autofocus: true, placeholder: 'name to your roll', class: 'form-control'
  .field.form-group
    = f.label 'Select the number of photos for this roll'
    %br
    = f.select :size, options_for_select([25, 15, 10, 1]), {}, class: "form-control"
  .actions
    = f.submit 'Create Roll', class: 'btn btn-primary btn-lg btn-block'
