%h1 Listing rolls

%table
  %tr
    %th Name
    %th State
    %th Current
    %th Size
    %th User
    %th Remaining
    %th
    %th
    %th

  - @rolls.each do |roll|
    %tr
      %td= roll.name
      %td= roll.state
      %td= roll.current
      %td= roll.size
      %td= roll.user.email if roll.user.present?
      %td= roll.available_photos
      %td= link_to 'Show', roll, class: 'body-link'
      %td= link_to 'Edit', edit_roll_path(roll), class: 'body-link'
      %td= link_to 'Destroy', roll, :method => :delete, class: 'body-link', :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Roll', new_roll_path
