%p#notice= notice

%p
  %b Name:
  = @roll.name
%p
  %b Size:
  = @roll.size
= link_to 'New Photo', new_roll_photo_path(@roll)
\|
= link_to 'Edit', edit_roll_path(@roll)
\|
= link_to 'Back', rolls_path
