.container-fluid
  .row.roll-parent
    .col-md-12
    - if @roll.available_photos == 0
      %h1.jumbo Roll Full
      = link_to "Print Roll", print_roll_path(@roll), target: "_blank", class: 'btn btn-primary btn-lg btn-block'
      = link_to 'New Roll', new_roll_path, class: 'btn btn-primary btn-lg btn-block'
    - else
      %h1
        = @roll.name
      %h1.jumbo
        = @roll.available_photos
      - if @roll.available_photos <= 1
        %h1
          remaining photo
      - else
        %h1
          remaining photos
      = render partial: "photos/form"
    -# .col-md-12.roll-child
    -#   - @roll.photos.each do |photo|
    -#     = image_tag photo.image_url(:thumb) if photo.image?
