:javascript
  window.roll_id = #{@roll.id}
.container-fluid
  .row.roll-parent
    .col-md-12
    - if @roll.available_photos == 0
      %h1.jumbo Roll Full
      = link_to "Print Roll", print_roll_path(@roll), target: "_blank", class: 'btn btn-primary btn-lg btn-block'
      = link_to 'New Roll', new_roll_path, class: 'btn btn-primary btn-lg btn-block'
    - else
      %video{autoplay: ""}
      %img{src: "", id: 'snapshot'}
      %canvas{style: "display:none;", width:540, height: 480}
      %h1
        = @roll.name
      %h1.jumbo
        = @roll.available_photos
      %h1
        remaining
      = render partial: "photos/form"
    -# .col-md-12.roll-child
    -#   - @roll.photos.each do |photo|
    -#     = image_tag photo.image_url(:thumb) if photo.image?
